#map svg > path, #map svg > g {
  fill: #ccc;
  stroke: #bbb;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
  position: relative;
  z-index: 1;
  outline: none;
  cursor: pointer;
}
#map svg > path:hover, #map svg > g:hover {
  stroke: #000;
}
.white-fill {
  fill: white !important;
  stroke: none !important;
}
.tooltip-left .tooltip-inner {
  text-align: left;
}